.food-card {
  background: #edefee;
  border-radius: 16px;
  height: 100%;
  min-height: 27rem;
  width: 18rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.food-card-image {
  width: 100%;
}

.food-card-title {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  color: black;
}

.food-card-description {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: #495E57;
}

.food-card-price {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  color: #ee9972;
}

.food-card-body {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.food-card-body-header {
  flex-grow: 1;
}

.food-card-body-title-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}

.food-card-delivery {
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
  margin-top: 1rem;
}

.food-card-delivery-title {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0.5rem 0 0 ;
  color: black;
}
@media screen and (max-width: 767px) {
  .food-card {
    background: #edefee;
    border-radius: 16px;
    height: 100%;
    min-height: 27rem;
    width: 18rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
}