.testimonial-card {
  background: white;
  border-radius: 16px;
  height: 100%;
  min-height: 10rem;
  width: 18rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.testimonial-description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #4a4a4a;
  font-size: 14px;
}

.testimonial-card-author {
  color: black;
  margin-left: 1rem;
  font-weight: bold;
}

.testimonial-card-container {
  display: flex;
  padding: 1rem 0;
}

.testimonial-profile-picture {
  border-radius: 5px;
  width: 50px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .testimonial-card {
    background: white;
    border-radius: 16px;
    height: 100%;
    min-height: 10rem;
    width: 18rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
