.testimonial-card {
    background: #edefee;
    border-radius: 16px;
    height: 100%;
    min-height: 20rem;
    width: 18rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  