.button {
    background:#F4CE14;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #F4CE14;
    color: #495E57;
    font-weight: bold;
    border: 0.1875rem solid #F4CE14;
    font-size: 1em;
}