.button {
  background: #f4ce14;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: #f4ce14;
  color: #495e57;
  font-weight: bold;
  border: 0.1875rem solid #f4ce14;
  font-size: 1em;
}

.button:active {
  background-color: #495e57;
  color: white;
}
