.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 50%;
  border-radius: 16px;
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.popup-description {
  color: #495e57;
}

.popup-title {
  color: #495e57;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.popup-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    max-width: 50%;
    border-radius: 16px;
    width: 100%;
  }

  .popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }

  .popup-description {
    color: #495e57;
  }

  .popup-title {
    color: #495e57;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  .popup-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
