.topbar {
  justify-content: space-between;
  background-color: white;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  height: 4rem;
  max-width: 65rem;
  margin: 0 auto;
}

.logo {
  height: 50px;
}

li {
  list-style-type: none;
}

nav{
  display: flex;
}

ul{
  display: flex;
}
ul li{
  margin-left:1rem;
  color: inherit;
}

ul li a{
  margin-left:1rem;
  color: black;
  text-decoration: none;
  font-family: Karla;
  font-size: 1.1em;
}
