.container {
  height: calc(100vh - 96px - 266px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.construction-title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  margin: 0 0;
}
@media screen and (max-width: 767px) {
  .container {
    height: calc(100vh - 96px );
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .construction-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    margin: 0 0;
  }
}
