.reservation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.containter-item-title {
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.reservation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

input,
select {
  height: 2.5rem;
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
  outline: none;
  border: 0.0625rem solid #e0e0e0;
  border-radius: 0.375rem;
  background: #ffffff;
  color: #495e57;
  cursor: pointer;
  transition: border-color 0.3s;
}

input:focus,
select:focus {
  border-width: 0.125rem;
  border-color: #495e57;
}

.error {
  border: 1px solid red !important;
}
