.reservation {
  height: calc(100vh - 96px - 266px);
  width: 100vw;
  max-width: 65rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation-card {
  background: #495e57;
  border-radius: 16px;
  padding: 2rem;
  width: 50%;
}

.reservation-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 2rem;
  background: #495e57;
  color: #fff;
  margin-top: 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .reservation {
    height: calc(100vh - 96px);
    width: 100vw;
    max-width: 65rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .reservation-card {
    background: #495e57;
    border-radius: 16px;
    padding: 2rem;
    width: 80%;
  }

  .reservation-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 2rem;
    background: #495e57;
    color: #fff;
    margin-top: 0;
    display: flex;
    justify-content: center;
  }
}
