.hero-background{
  background: #495e57;
  height: 100%;
  display: flex;
}

.hero { 
  height: 100%;
  padding: 2rem 0;
  display: grid;
  align-items: center;
  grid-column-gap: 2rem;
  grid-template: "info image";
  grid-template-columns: 60fr 40fr;
  max-width: 65rem;
  margin: 0 auto;
}

.title {
  color: #f4ce14;
  font-size: 3.5rem;
  line-height: 0.5rem;
}

.subtitle {
  color: white;
  font-size: 2rem;
}

p {
  color: white;
}

.image {
  grid-area: image;
  width: 100%;
  height: 20rem;
  justify-self: end;
  border-radius: 16px;
  object-fit: cover;
}

.info {
  grid-area: info;
}
