.about {
  height: 100%;
  padding: 5rem 0;
  display: grid;
  align-items: center;
  grid-column-gap: 2rem;
  grid-template: "info image";
  grid-template-columns: 60fr 40fr;
  max-width: 65rem;
  margin: 0 auto;
}

.about-title {
  font-family: "Markazi Text";
  font-weight: medium;
  font-size: 56px;
  line-height: 30px;
}
.about-subtitle {
  font-family: "Markazi Text";
  font-size: 40px;
  line-height: 20px;
  color: #333333;
}
.about-description {
  color: black;
  padding-right: 6rem;
}

.about-image-bruchetta {
  margin-top: 5rem;
  margin-right: 5rem;
  grid-area: image;
  width: 100%;
  height: 20rem;
  justify-self: end;
  border-radius: 16px;
  object-fit: cover;
}

.about-image-restaurant {
  grid-area: image;
  width: 100%;
  height: 20rem;
  justify-self: end;
  border-radius: 16px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .about {
    height: 100%;
    padding: 1rem 1rem;
    display: grid;
    align-items: center;
    grid-column-gap: 2rem;
    grid-template: "info" "image";
    grid-template-rows: 1fr 0.75fr;
    max-width: 65rem;
    margin: 0 auto;
  }

  .about-title {
    font-family: "Markazi Text";
    font-weight: medium;
    font-size: 36px;
    line-height: 30px;
  }
  .about-subtitle {
    font-family: "Markazi Text";
    font-size: 32px;
    line-height: 20px;
    color: #333333;
  }
  .about-description {
    color: black;
    padding-right: 6rem;
    
  }

  .about-image-bruchetta {
    grid-area: image;
    display: none;
    width: 100%;
    height: 20rem;
    border-radius: 16px;
    object-fit: cover;
  }

  .about-image-restaurant {
    grid-area: image;
    width: 100%;
    height: 10rem;
    justify-self: end;
    border-radius: 16px;
    object-fit: cover;
    padding: 0;
  }
}
